<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="DUAL_UF_ROBOT">
  <xacro:arg name="prefix_1" default="L_"/>
  <xacro:arg name="hw_ns" default="xarm"/>
  <xacro:arg name="limited" default="false"/>
  <xacro:arg name="effort_control" default="false"/>
  <xacro:arg name="velocity_control" default="false"/>
  <xacro:arg name="dof_1" default="6"/>
  <xacro:arg name="robot_ip_1" default=""/>
  <xacro:arg name="robot_type_1" default="xarm"/>
  <xacro:arg name="robot_sn_1" default=""/>
  <xacro:arg name="report_type_1" default="normal"/>
  <xacro:arg name="ros2_control_plugin" default="uf_robot_hardware/UFRobotSystemHardware"/>
  <xacro:arg name="ros2_control_params" default=""/>
  <xacro:arg name="mesh_suffix" default="stl"/>

  <!-- load xarm device -->
  <xacro:include filename="$(find xarm_description)/urdf/L_xarm_laser_xarm_device_macro.xacro" />
    
  <xacro:xarm_device prefix="$(arg prefix_1)" hw_ns="$(arg hw_ns)" limited="$(arg limited)" 
    effort_control="$(arg effort_control)" velocity_control="$(arg velocity_control)"
    
    ros2_control_plugin="$(arg ros2_control_plugin)" robot_type="$(arg robot_type_1)"
    load_gazebo_plugin="false" ros2_control_params="$(arg ros2_control_params)"
    
    
    robot_ip="$(arg robot_ip_1)" report_type="$(arg report_type_1)"
    />
 
</robot>
