<?xml version="1.0" encoding="UTF-8"?>
 
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="xarm_srdf">

  <xacro:macro name="xarm_macro_srdf" params="prefix:='' dof:=7 robot_type:='xarm'
    add_gripper:='false' add_vacuum_gripper:='false' add_other_geometry:='false' is_laser='true'"> 
    
         <xacro:if value="${is_laser}">
          <xacro:include filename="$(find xarm_description)/srdf/laser_xarm6_macro.srdf.xacro" />
          <xacro:xarm6_macro_srdf prefix="${prefix}" 
          add_gripper="${add_gripper}" add_vacuum_gripper="${add_vacuum_gripper}" add_other_geometry="false"  />
        </xacro:if>
        <xacro:unless value="${is_laser}">
          <xacro:include filename="$(find xarm_description)/srdf/_xarm6_macro.srdf.xacro" />
          <xacro:xarm6_macro_srdf prefix="${prefix}" 
          add_gripper="${add_gripper}" add_vacuum_gripper="${add_vacuum_gripper}" add_other_geometry="true"  />
        </xacro:unless>
        
        

   
  </xacro:macro>
</robot>